/* Same as https://nixos.org */
@import url('https://fonts.googleapis.com/css2?family=Overpass:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --space-1: 0.25rem;
    --space-2: 0.5rem;
    --space-3: 1rem;
    --space-4: 2rem;

    --colour-text: #dee2e6;
    --colour-bg: #212529;
    --colour-surface: #343a40;
    --colour-accent: #cba6f7;
}

* {
    color: var(--colour-text);
    background-color: var(--colour-bg);
    font-family: "Overpass", "Segoe UI", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

a {
    text-decoration: none;
}

header {
    justify-content: space-between;
    background-color: var(--colour-surface);
    padding: var(--space-2);
}

header h1 {
    margin-top: 0;
    margin-bottom: 0;
}

header a {
    color: var(--colour-accent);
}

header * {
    background-color: var(--colour-surface);
}

.sticky {
    position: sticky;
    top: 0;
}

.flex {
    display: flex;
    align-items: center;
}

.current {
    color: var(--colour-text);
}

/* wrapper for the content in main */
.wrapper {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding-left: var(--space-3);
    padding-right: var(--space-3);
}

.wrapper * {
    background-color: inherit;
}

/* the blurb at the top of the main page */
.hero {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: calc(var(--space-4) * 2);
    padding-block: calc(var(--space-4) * 4);

    max-width: 900px;
    margin-left: auto;
    margin-right: auto;
}

.hero-text {
    text-align: center;
    max-width: 600px;
}

.hero-img img {
    max-width: 200px;
    width: 100%;
    border-radius: 150px;
    border-style: solid;
    border-color: var(--colour-accent);
    border-width: 3px;
}

/* a cluster of things in a row */
.cluster {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: var(--space-2);
}

.stack {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: var(--space-2);
}

.stack > .card {
    max-width: 600px;
    min-width: 600px;
}

/* box/card thing */
.card {
    max-width: 400px;
    min-width: 400px;
    padding: var(--space-2);
    border-radius: var(--space-2);

    text-align: center;
    background-color: var(--colour-surface);
}

.card * {
    background-color: inherit;
}

.card h3 {
    color: var(--colour-accent);
    margin-bottom: 0;
}

.card a {
    color: var(--colour-accent);
    font-size: 0.85em;
}
